<!-- Swiper -->
<nav class="nav">
  <ul class="swiper-wrapper">
    <li class="swiper-slide"
        *ngFor="let item of slides; let i = index">
      <span [attr.data-index]="'0' + i">{{ item }}</span>
    </li>
  </ul>
</nav>

